{% load static %}

<!-- Страница на русском языук, нужно указывать lang="ru" -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- В репозитории лучше не оставлять закоментированный код, он не несет пользы -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'get_and_view_weather/css/style.css' %}" type="text/css" ">
    <link rel="shortcut icon" href="{% static 'get_and_view_weather/images/favicon.ico' %}" type="image/x-icon">
    <title>Погода г.Москва</title>
</head>
<body>
    
    <header>
        <div><img src="{% static 'get_and_view_weather/images/fresh_icon.png' %}" alt="Fresh Icon"></div>
    </header>

    <!-- Таким образом на странице нет заголовка первого уровня. Стоило вложить его внутрь div или вместо div -->
    <div class="h1">Погода в г.Москва на {{date}}</div>

    <div class="content">

        <!-- Тут желательно использовать <ul> или <ol> -->
        <div class="temp">
            {% for weather in dt%}
                <div class="temp__data"><p>{{weather.date_time|slice:":11"}}</p>  <p>{{weather.temperature}}°C</p> </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>
